.navbar {
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 80px;
    padding-left: 50px;
    font-size: 20px;
    z-index: 1;
}

.scrolling {
    background-color: #0288D1;
    border-bottom: 1px solid #B3E5FC;    
    transition: 500ms ease-in-out;
}

.navbar-logo {
    height: 80px;
    line-height: 80px;
    color: white;
    cursor: pointer;
}